# Python files
__pycache*
.ipynb_*
.pytest_*

# Image files
*.eps
*.ai
*.emf

# Other files
*.ppt
*.pptx
*.xls
*.ini
*.fig
*.rar

# Temporary files starting with temp_
temp_*

# User specific files
Matlab.bat