# Python files
__pycache*
.ipynb_*
.pytest_*
build/

# Travis
.travis*

# logs
logs/

# Image files
*.eps
*.ai
*.emf

# Other files
*.ppt
*.pptx
*.xls
*.ini
*.fig
*.rar
*.mlx

# Any data folders
data

# Temporary files starting with temp_
temp_*
tmp_*

# User specific files
Matlab.bat
documentation.md

# Code coverage
.coverage
htmlcov/
